<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotchpotch.lottery.user.mapper.LotteryUserMapper">

    <resultMap id="BaseResultMap" type="com.hotchpotch.lottery.user.entity.LotteryUser">
        <id column="id" property="id"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="status" property="status"/>
        <result column="email_notification_enabled" property="emailNotificationEnabled"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
