<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotchpotch.lottery.user.mapper.LotteryUserOAuthAccountMapper">

    <resultMap id="BaseResultMap" type="com.hotchpotch.lottery.user.entity.LotteryUserOAuthAccount">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="provider" property="provider"/>
        <result column="open_id" property="openId"/>
        <result column="union_id" property="unionId"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
