<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotchpotch.lottery.favorite.mapper.LotteryNumberFavoriteMapper">

    <resultMap id="BaseResultMap" type="com.hotchpotch.lottery.favorite.entity.LotteryNumberFavorite">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="lottery_type" property="lotteryType"/>
        <result column="front_numbers" property="frontNumbers"/>
        <result column="back_numbers" property="backNumbers"/>
        <result column="favorite_name" property="favoriteName"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="favorite_time" property="favoriteTime"/>
        <result column="effective_time" property="effectiveTime"/>
        <result column="cancel_time" property="cancelTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
